<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Favorites Root</key>
  <dict>
    <key>Children</key>
    <array>
      <dict>
        <key>database</key>
        <string>noths_uk</string>
        <key>host</key>
        <string></string>
        <key>id</key>
        <integer>-2444954425601865602</integer>
        <key>name</key>
        <string>Development noths_uk</string>
        <key>port</key>
        <string></string>
        <key>socket</key>
        <string></string>
        <key>sshHost</key>
        <string></string>
        <key>sshKeyLocation</key>
        <string></string>
        <key>sshKeyLocationEnabled</key>
        <integer>0</integer>
        <key>sshPort</key>
        <string></string>
        <key>sshUser</key>
        <string></string>
        <key>sslCACertFileLocation</key>
        <string></string>
        <key>sslCACertFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslCertificateFileLocation</key>
        <string></string>
        <key>sslCertificateFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslKeyFileLocation</key>
        <string></string>
        <key>sslKeyFileLocationEnabled</key>
        <integer>0</integer>
        <key>type</key>
        <integer>1</integer>
        <key>useSSL</key>
        <integer>0</integer>
        <key>user</key>
        <string>root</string>
      </dict>
      <dict>
        <key>database</key>
        <string></string>
        <key>host</key>
        <string></string>
        <key>id</key>
        <integer>7960058117594491757</integer>
        <key>name</key>
        <string>Development noths_de</string>
        <key>port</key>
        <string></string>
        <key>socket</key>
        <string></string>
        <key>sshHost</key>
        <string></string>
        <key>sshKeyLocation</key>
        <string></string>
        <key>sshKeyLocationEnabled</key>
        <integer>0</integer>
        <key>sshPort</key>
        <string></string>
        <key>sshUser</key>
        <string></string>
        <key>sslCACertFileLocation</key>
        <string></string>
        <key>sslCACertFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslCertificateFileLocation</key>
        <string></string>
        <key>sslCertificateFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslKeyFileLocation</key>
        <string></string>
        <key>sslKeyFileLocationEnabled</key>
        <integer>0</integer>
        <key>type</key>
        <integer>1</integer>
        <key>useSSL</key>
        <integer>0</integer>
        <key>user</key>
        <string>root</string>
      </dict>
      <dict>
        <key>database</key>
        <string></string>
        <key>host</key>
        <string>qa1.hq.noths.com</string>
        <key>id</key>
        <integer>-4729003366970370683</integer>
        <key>name</key>
        <string>QA1</string>
        <key>port</key>
        <string></string>
        <key>socket</key>
        <string></string>
        <key>sshHost</key>
        <string></string>
        <key>sshKeyLocation</key>
        <string></string>
        <key>sshKeyLocationEnabled</key>
        <integer>0</integer>
        <key>sshPort</key>
        <string></string>
        <key>sshUser</key>
        <string></string>
        <key>sslCACertFileLocation</key>
        <string></string>
        <key>sslCACertFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslCertificateFileLocation</key>
        <string></string>
        <key>sslCertificateFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslKeyFileLocation</key>
        <string></string>
        <key>sslKeyFileLocationEnabled</key>
        <integer>0</integer>
        <key>type</key>
        <integer>0</integer>
        <key>useSSL</key>
        <integer>0</integer>
        <key>user</key>
        <string>root</string>
      </dict>
      <dict>
        <key>database</key>
        <string></string>
        <key>host</key>
        <string>qa2.hq.noths.com</string>
        <key>id</key>
        <integer>-4729003366970370683</integer>
        <key>name</key>
        <string>QA2</string>
        <key>port</key>
        <string></string>
        <key>socket</key>
        <string></string>
        <key>sshHost</key>
        <string></string>
        <key>sshKeyLocation</key>
        <string></string>
        <key>sshKeyLocationEnabled</key>
        <integer>0</integer>
        <key>sshPort</key>
        <string></string>
        <key>sshUser</key>
        <string></string>
        <key>sslCACertFileLocation</key>
        <string></string>
        <key>sslCACertFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslCertificateFileLocation</key>
        <string></string>
        <key>sslCertificateFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslKeyFileLocation</key>
        <string></string>
        <key>sslKeyFileLocationEnabled</key>
        <integer>0</integer>
        <key>type</key>
        <integer>0</integer>
        <key>useSSL</key>
        <integer>0</integer>
        <key>user</key>
        <string>root</string>
      </dict>
      <dict>
        <key>database</key>
        <string></string>
        <key>host</key>
        <string>qa3.hq.noths.com</string>
        <key>id</key>
        <integer>-4729003366970370683</integer>
        <key>name</key>
        <string>QA3</string>
        <key>port</key>
        <string></string>
        <key>socket</key>
        <string></string>
        <key>sshHost</key>
        <string></string>
        <key>sshKeyLocation</key>
        <string></string>
        <key>sshKeyLocationEnabled</key>
        <integer>0</integer>
        <key>sshPort</key>
        <string></string>
        <key>sshUser</key>
        <string></string>
        <key>sslCACertFileLocation</key>
        <string></string>
        <key>sslCACertFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslCertificateFileLocation</key>
        <string></string>
        <key>sslCertificateFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslKeyFileLocation</key>
        <string></string>
        <key>sslKeyFileLocationEnabled</key>
        <integer>0</integer>
        <key>type</key>
        <integer>0</integer>
        <key>useSSL</key>
        <integer>0</integer>
        <key>user</key>
        <string>root</string>
      </dict>
      <dict>
        <key>database</key>
        <string></string>
        <key>host</key>
        <string>qa4.hq.noths.com</string>
        <key>id</key>
        <integer>-4729003366970370683</integer>
        <key>name</key>
        <string>QA4</string>
        <key>port</key>
        <string></string>
        <key>socket</key>
        <string></string>
        <key>sshHost</key>
        <string></string>
        <key>sshKeyLocation</key>
        <string></string>
        <key>sshKeyLocationEnabled</key>
        <integer>0</integer>
        <key>sshPort</key>
        <string></string>
        <key>sshUser</key>
        <string></string>
        <key>sslCACertFileLocation</key>
        <string></string>
        <key>sslCACertFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslCertificateFileLocation</key>
        <string></string>
        <key>sslCertificateFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslKeyFileLocation</key>
        <string></string>
        <key>sslKeyFileLocationEnabled</key>
        <integer>0</integer>
        <key>type</key>
        <integer>0</integer>
        <key>useSSL</key>
        <integer>0</integer>
        <key>user</key>
        <string>root</string>
      </dict>
      <dict>
        <key>database</key>
        <string></string>
        <key>host</key>
        <string>qa5.hq.noths.com</string>
        <key>id</key>
        <integer>-4729003366970370683</integer>
        <key>name</key>
        <string>QA5</string>
        <key>port</key>
        <string></string>
        <key>socket</key>
        <string></string>
        <key>sshHost</key>
        <string></string>
        <key>sshKeyLocation</key>
        <string></string>
        <key>sshKeyLocationEnabled</key>
        <integer>0</integer>
        <key>sshPort</key>
        <string></string>
        <key>sshUser</key>
        <string></string>
        <key>sslCACertFileLocation</key>
        <string></string>
        <key>sslCACertFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslCertificateFileLocation</key>
        <string></string>
        <key>sslCertificateFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslKeyFileLocation</key>
        <string></string>
        <key>sslKeyFileLocationEnabled</key>
        <integer>0</integer>
        <key>type</key>
        <integer>0</integer>
        <key>useSSL</key>
        <integer>0</integer>
        <key>user</key>
        <string>root</string>
      </dict>
      <dict>
        <key>database</key>
        <string></string>
        <key>host</key>
        <string>qa6.hq.noths.com</string>
        <key>id</key>
        <integer>-4729003366970370683</integer>
        <key>name</key>
        <string>QA6</string>
        <key>port</key>
        <string></string>
        <key>socket</key>
        <string></string>
        <key>sshHost</key>
        <string></string>
        <key>sshKeyLocation</key>
        <string></string>
        <key>sshKeyLocationEnabled</key>
        <integer>0</integer>
        <key>sshPort</key>
        <string></string>
        <key>sshUser</key>
        <string></string>
        <key>sslCACertFileLocation</key>
        <string></string>
        <key>sslCACertFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslCertificateFileLocation</key>
        <string></string>
        <key>sslCertificateFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslKeyFileLocation</key>
        <string></string>
        <key>sslKeyFileLocationEnabled</key>
        <integer>0</integer>
        <key>type</key>
        <integer>0</integer>
        <key>useSSL</key>
        <integer>0</integer>
        <key>user</key>
        <string>root</string>
      </dict>
      <dict>
        <key>database</key>
        <string></string>
        <key>host</key>
        <string>qa7.hq.noths.com</string>
        <key>id</key>
        <integer>-4729003366970370683</integer>
        <key>name</key>
        <string>QA7</string>
        <key>port</key>
        <string></string>
        <key>socket</key>
        <string></string>
        <key>sshHost</key>
        <string></string>
        <key>sshKeyLocation</key>
        <string></string>
        <key>sshKeyLocationEnabled</key>
        <integer>0</integer>
        <key>sshPort</key>
        <string></string>
        <key>sshUser</key>
        <string></string>
        <key>sslCACertFileLocation</key>
        <string></string>
        <key>sslCACertFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslCertificateFileLocation</key>
        <string></string>
        <key>sslCertificateFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslKeyFileLocation</key>
        <string></string>
        <key>sslKeyFileLocationEnabled</key>
        <integer>0</integer>
        <key>type</key>
        <integer>0</integer>
        <key>useSSL</key>
        <integer>0</integer>
        <key>user</key>
        <string>root</string>
      </dict>
      <dict>
        <key>database</key>
        <string></string>
        <key>host</key>
        <string>qa8.hq.noths.com</string>
        <key>id</key>
        <integer>-4729003366970370683</integer>
        <key>name</key>
        <string>QA8</string>
        <key>port</key>
        <string></string>
        <key>socket</key>
        <string></string>
        <key>sshHost</key>
        <string></string>
        <key>sshKeyLocation</key>
        <string></string>
        <key>sshKeyLocationEnabled</key>
        <integer>0</integer>
        <key>sshPort</key>
        <string></string>
        <key>sshUser</key>
        <string></string>
        <key>sslCACertFileLocation</key>
        <string></string>
        <key>sslCACertFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslCertificateFileLocation</key>
        <string></string>
        <key>sslCertificateFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslKeyFileLocation</key>
        <string></string>
        <key>sslKeyFileLocationEnabled</key>
        <integer>0</integer>
        <key>type</key>
        <integer>0</integer>
        <key>useSSL</key>
        <integer>0</integer>
        <key>user</key>
        <string>root</string>
      </dict>
      <dict>
        <key>database</key>
        <string></string>
        <key>host</key>
        <string>qa9.hq.noths.com</string>
        <key>id</key>
        <integer>-4729003366970370683</integer>
        <key>name</key>
        <string>QA9</string>
        <key>port</key>
        <string></string>
        <key>socket</key>
        <string></string>
        <key>sshHost</key>
        <string></string>
        <key>sshKeyLocation</key>
        <string></string>
        <key>sshKeyLocationEnabled</key>
        <integer>0</integer>
        <key>sshPort</key>
        <string></string>
        <key>sshUser</key>
        <string></string>
        <key>sslCACertFileLocation</key>
        <string></string>
        <key>sslCACertFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslCertificateFileLocation</key>
        <string></string>
        <key>sslCertificateFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslKeyFileLocation</key>
        <string></string>
        <key>sslKeyFileLocationEnabled</key>
        <integer>0</integer>
        <key>type</key>
        <integer>0</integer>
        <key>useSSL</key>
        <integer>0</integer>
        <key>user</key>
        <string>root</string>
      </dict>
      <dict>
        <key>database</key>
        <string></string>
        <key>host</key>
        <string>qa10.hq.noths.com</string>
        <key>id</key>
        <integer>-4729003366970370683</integer>
        <key>name</key>
        <string>QA10</string>
        <key>port</key>
        <string></string>
        <key>socket</key>
        <string></string>
        <key>sshHost</key>
        <string></string>
        <key>sshKeyLocation</key>
        <string></string>
        <key>sshKeyLocationEnabled</key>
        <integer>0</integer>
        <key>sshPort</key>
        <string></string>
        <key>sshUser</key>
        <string></string>
        <key>sslCACertFileLocation</key>
        <string></string>
        <key>sslCACertFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslCertificateFileLocation</key>
        <string></string>
        <key>sslCertificateFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslKeyFileLocation</key>
        <string></string>
        <key>sslKeyFileLocationEnabled</key>
        <integer>0</integer>
        <key>type</key>
        <integer>0</integer>
        <key>useSSL</key>
        <integer>0</integer>
        <key>user</key>
        <string>root</string>
      </dict>
      <dict>
        <key>database</key>
        <string></string>
        <key>host</key>
        <string>qa11.hq.noths.com</string>
        <key>id</key>
        <integer>-4729003366970370683</integer>
        <key>name</key>
        <string>QA11</string>
        <key>port</key>
        <string></string>
        <key>socket</key>
        <string></string>
        <key>sshHost</key>
        <string></string>
        <key>sshKeyLocation</key>
        <string></string>
        <key>sshKeyLocationEnabled</key>
        <integer>0</integer>
        <key>sshPort</key>
        <string></string>
        <key>sshUser</key>
        <string></string>
        <key>sslCACertFileLocation</key>
        <string></string>
        <key>sslCACertFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslCertificateFileLocation</key>
        <string></string>
        <key>sslCertificateFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslKeyFileLocation</key>
        <string></string>
        <key>sslKeyFileLocationEnabled</key>
        <integer>0</integer>
        <key>type</key>
        <integer>0</integer>
        <key>useSSL</key>
        <integer>0</integer>
        <key>user</key>
        <string>root</string>
      </dict>
      <dict>
        <key>database</key>
        <string></string>
        <key>host</key>
        <string>qa12.hq.noths.com</string>
        <key>id</key>
        <integer>-4729003366970370683</integer>
        <key>name</key>
        <string>QA12</string>
        <key>port</key>
        <string></string>
        <key>socket</key>
        <string></string>
        <key>sshHost</key>
        <string></string>
        <key>sshKeyLocation</key>
        <string></string>
        <key>sshKeyLocationEnabled</key>
        <integer>0</integer>
        <key>sshPort</key>
        <string></string>
        <key>sshUser</key>
        <string></string>
        <key>sslCACertFileLocation</key>
        <string></string>
        <key>sslCACertFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslCertificateFileLocation</key>
        <string></string>
        <key>sslCertificateFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslKeyFileLocation</key>
        <string></string>
        <key>sslKeyFileLocationEnabled</key>
        <integer>0</integer>
        <key>type</key>
        <integer>0</integer>
        <key>useSSL</key>
        <integer>0</integer>
        <key>user</key>
        <string>root</string>
      </dict>
      <dict>
        <key>database</key>
        <string></string>
        <key>host</key>
        <string>qa13.hq.noths.com</string>
        <key>id</key>
        <integer>-4729003366970370683</integer>
        <key>name</key>
        <string>QA13</string>
        <key>port</key>
        <string></string>
        <key>socket</key>
        <string></string>
        <key>sshHost</key>
        <string></string>
        <key>sshKeyLocation</key>
        <string></string>
        <key>sshKeyLocationEnabled</key>
        <integer>0</integer>
        <key>sshPort</key>
        <string></string>
        <key>sshUser</key>
        <string></string>
        <key>sslCACertFileLocation</key>
        <string></string>
        <key>sslCACertFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslCertificateFileLocation</key>
        <string></string>
        <key>sslCertificateFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslKeyFileLocation</key>
        <string></string>
        <key>sslKeyFileLocationEnabled</key>
        <integer>0</integer>
        <key>type</key>
        <integer>0</integer>
        <key>useSSL</key>
        <integer>0</integer>
        <key>user</key>
        <string>root</string>
      </dict>
      <dict>
        <key>database</key>
        <string></string>
        <key>host</key>
        <string>qa14.hq.noths.com</string>
        <key>id</key>
        <integer>-4729003366970370683</integer>
        <key>name</key>
        <string>QA14</string>
        <key>port</key>
        <string></string>
        <key>socket</key>
        <string></string>
        <key>sshHost</key>
        <string></string>
        <key>sshKeyLocation</key>
        <string></string>
        <key>sshKeyLocationEnabled</key>
        <integer>0</integer>
        <key>sshPort</key>
        <string></string>
        <key>sshUser</key>
        <string></string>
        <key>sslCACertFileLocation</key>
        <string></string>
        <key>sslCACertFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslCertificateFileLocation</key>
        <string></string>
        <key>sslCertificateFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslKeyFileLocation</key>
        <string></string>
        <key>sslKeyFileLocationEnabled</key>
        <integer>0</integer>
        <key>type</key>
        <integer>0</integer>
        <key>useSSL</key>
        <integer>0</integer>
        <key>user</key>
        <string>root</string>
      </dict>
      <dict>
        <key>database</key>
        <string></string>
        <key>host</key>
        <string>qa15.hq.noths.com</string>
        <key>id</key>
        <integer>-4729003366970370683</integer>
        <key>name</key>
        <string>QA15</string>
        <key>port</key>
        <string></string>
        <key>socket</key>
        <string></string>
        <key>sshHost</key>
        <string></string>
        <key>sshKeyLocation</key>
        <string></string>
        <key>sshKeyLocationEnabled</key>
        <integer>0</integer>
        <key>sshPort</key>
        <string></string>
        <key>sshUser</key>
        <string></string>
        <key>sslCACertFileLocation</key>
        <string></string>
        <key>sslCACertFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslCertificateFileLocation</key>
        <string></string>
        <key>sslCertificateFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslKeyFileLocation</key>
        <string></string>
        <key>sslKeyFileLocationEnabled</key>
        <integer>0</integer>
        <key>type</key>
        <integer>0</integer>
        <key>useSSL</key>
        <integer>0</integer>
        <key>user</key>
        <string>root</string>
      </dict>
      <dict>
        <key>database</key>
        <string></string>
        <key>host</key>
        <string>qa16.hq.noths.com</string>
        <key>id</key>
        <integer>-4729003366970370683</integer>
        <key>name</key>
        <string>QA16</string>
        <key>port</key>
        <string></string>
        <key>socket</key>
        <string></string>
        <key>sshHost</key>
        <string></string>
        <key>sshKeyLocation</key>
        <string></string>
        <key>sshKeyLocationEnabled</key>
        <integer>0</integer>
        <key>sshPort</key>
        <string></string>
        <key>sshUser</key>
        <string></string>
        <key>sslCACertFileLocation</key>
        <string></string>
        <key>sslCACertFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslCertificateFileLocation</key>
        <string></string>
        <key>sslCertificateFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslKeyFileLocation</key>
        <string></string>
        <key>sslKeyFileLocationEnabled</key>
        <integer>0</integer>
        <key>type</key>
        <integer>0</integer>
        <key>useSSL</key>
        <integer>0</integer>
        <key>user</key>
        <string>root</string>
      </dict>
      <dict>
        <key>database</key>
        <string></string>
        <key>host</key>
        <string>qa17.hq.noths.com</string>
        <key>id</key>
        <integer>-4729003366970370683</integer>
        <key>name</key>
        <string>QA17</string>
        <key>port</key>
        <string></string>
        <key>socket</key>
        <string></string>
        <key>sshHost</key>
        <string></string>
        <key>sshKeyLocation</key>
        <string></string>
        <key>sshKeyLocationEnabled</key>
        <integer>0</integer>
        <key>sshPort</key>
        <string></string>
        <key>sshUser</key>
        <string></string>
        <key>sslCACertFileLocation</key>
        <string></string>
        <key>sslCACertFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslCertificateFileLocation</key>
        <string></string>
        <key>sslCertificateFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslKeyFileLocation</key>
        <string></string>
        <key>sslKeyFileLocationEnabled</key>
        <integer>0</integer>
        <key>type</key>
        <integer>0</integer>
        <key>useSSL</key>
        <integer>0</integer>
        <key>user</key>
        <string>root</string>
      </dict>
      <dict>
        <key>database</key>
        <string></string>
        <key>host</key>
        <string>qa18.hq.noths.com</string>
        <key>id</key>
        <integer>-4729003366970370683</integer>
        <key>name</key>
        <string>QA18</string>
        <key>port</key>
        <string></string>
        <key>socket</key>
        <string></string>
        <key>sshHost</key>
        <string></string>
        <key>sshKeyLocation</key>
        <string></string>
        <key>sshKeyLocationEnabled</key>
        <integer>0</integer>
        <key>sshPort</key>
        <string></string>
        <key>sshUser</key>
        <string></string>
        <key>sslCACertFileLocation</key>
        <string></string>
        <key>sslCACertFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslCertificateFileLocation</key>
        <string></string>
        <key>sslCertificateFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslKeyFileLocation</key>
        <string></string>
        <key>sslKeyFileLocationEnabled</key>
        <integer>0</integer>
        <key>type</key>
        <integer>0</integer>
        <key>useSSL</key>
        <integer>0</integer>
        <key>user</key>
        <string>root</string>
      </dict>
      <dict>
        <key>database</key>
        <string></string>
        <key>host</key>
        <string>qa19.hq.noths.com</string>
        <key>id</key>
        <integer>-4729003366970370683</integer>
        <key>name</key>
        <string>QA19</string>
        <key>port</key>
        <string></string>
        <key>socket</key>
        <string></string>
        <key>sshHost</key>
        <string></string>
        <key>sshKeyLocation</key>
        <string></string>
        <key>sshKeyLocationEnabled</key>
        <integer>0</integer>
        <key>sshPort</key>
        <string></string>
        <key>sshUser</key>
        <string></string>
        <key>sslCACertFileLocation</key>
        <string></string>
        <key>sslCACertFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslCertificateFileLocation</key>
        <string></string>
        <key>sslCertificateFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslKeyFileLocation</key>
        <string></string>
        <key>sslKeyFileLocationEnabled</key>
        <integer>0</integer>
        <key>type</key>
        <integer>0</integer>
        <key>useSSL</key>
        <integer>0</integer>
        <key>user</key>
        <string>root</string>
      </dict>
      <dict>
        <key>database</key>
        <string></string>
        <key>host</key>
        <string>qa20.hq.noths.com</string>
        <key>id</key>
        <integer>-4729003366970370683</integer>
        <key>name</key>
        <string>QA20</string>
        <key>port</key>
        <string></string>
        <key>socket</key>
        <string></string>
        <key>sshHost</key>
        <string></string>
        <key>sshKeyLocation</key>
        <string></string>
        <key>sshKeyLocationEnabled</key>
        <integer>0</integer>
        <key>sshPort</key>
        <string></string>
        <key>sshUser</key>
        <string></string>
        <key>sslCACertFileLocation</key>
        <string></string>
        <key>sslCACertFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslCertificateFileLocation</key>
        <string></string>
        <key>sslCertificateFileLocationEnabled</key>
        <integer>0</integer>
        <key>sslKeyFileLocation</key>
        <string></string>
        <key>sslKeyFileLocationEnabled</key>
        <integer>0</integer>
        <key>type</key>
        <integer>0</integer>
        <key>useSSL</key>
        <integer>0</integer>
        <key>user</key>
        <string>root</string>
      </dict>
    </array>
    <key>IsExpanded</key>
    <true/>
    <key>Name</key>
    <string>FAVORITES</string>
  </dict>
</dict>
</plist>
